.page-content {
  min-width: 320px;
  max-width: 680px;
  min-height: 720px;
  margin: 10px auto;
  padding: 20px;
  padding-top: 10px;
  word-break: break-all;
  box-sizing: border-box;
  background: #ffffff;
  border-right: 1px #f0f0f0 solid;
  border-left: 1px #f0f0f0 solid;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
  // background: #ffffff;
  // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.20);

  @media screen and (max-width: 375px)  {
    padding: 16px;
  }

}