// @media screen and (min-width: 1200px) {
//   .page-container {
//     width: 100%;
//   }
// }

@media screen and (max-width: 1200px) {
  .page-container {
    width: 100% !important;

    .page-content {
      margin-left: 10px;
      margin-right: 10px;
    }

    .page-header {
      .header-container {
        width: 100% !important;
        padding: 0 0;
        box-sizing: border-box;
      }
      .summary-nav-btn {
        display: block;
      }
      .sider-nav-btn {
        display: block;
      }
    }

    .page-summary {
      display: none;
    }
    .page-sider {
      display: none;
    }
    
  }
}