<link rel="stylesheet" href="/dist/css/index.css" />

<textarea id="J_PageMarkdown" style="display: none;">
  <%= content %>
</textarea>
<textarea id="J_PageConfig" style="display: none;">
  <%= pageConfig %>
</textarea>

<div class="page-container">
  <!-- <div class="page-header"></div> -->
  <div class="page-content" id="J_PageContent">
    Loading...
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.8.0/marked.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
<script src="/dist/js/index.js"></script>