body {
  background: #f0f0f0;
  margin: 0;
  padding: 0;
}

.page-container {
  min-width: 320px;
  max-width: 720px;
  min-height: 640px;
  margin: 20px auto;
  padding: 40px;
  background: #ffffff;
}