// @import "~highlight.js/styles/github.css";
@import "~highlight.js/styles/monokai-sublime.css";
@import "./theme/github-md-style-dark.less";
@import "./mod/mobile.less";

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  background: #f6f6f6;
  color: #555555;
  // background: #f0f0f0;
  // color: #333333;
}


.page-container {
  position: relative;
  padding: 40px 0px;
  min-width: 1200px;

  .page-box-hide {
    display: none;;
  }

  @import "./mod/header.less";
  @import "./mod/summary.less";
  @import "./mod/sider.less";
  @import "./mod/content.less";
}




